$dark--bg: #363740;
$light--bg: #F7F8FC;

body {
    margin: 0;
}

.dashboard {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.sidebar {
    background-color: $dark--bg;
}

.overview {
    background-color: $light--bg;
}